{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" role="form" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit">{{ 'profile.edit.submit'|trans }}</button>
    </div>
</form>
